.original-background-color{
    background-color: bisque;
}
.card-viewer{
    background-color: palevioletred;
    border: 1px solid black;
    border-radius: 15px;
}

.padding{
    margin-left: auto;
    margin-right: auto;
}

.center-align{
    text-align: center;
}


.border-only{
    border: 1px solid black;
    border-radius: 3px;
    padding: 0px;
}

.under-card-area{
    background-color: bisque;
    border-top: 1px solid black;
}

.button{
    background-color: bisque;
    color: red;
    border-radius: 15px;
}

.move-right{
    float: right;
    margin-top: 2px;
    margin-right: 5px;
}

.space-around{
    justify-content: flex-end;
}