.original-background-color{
    background-color: bisque;
}
.card-viewer{
    background-color: palevioletred;
    border: 1px solid black;
    border-radius: 15px;
}


.padding{
    margin-left: auto;
    margin-right: auto;
}

.center-align{
    text-align: center;
}


.border-only{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px;
    margin-right: 60px;
    margin-left: 20px;
}

.under-card-area{
    background-color: bisque;
    border-top: 1px solid black;
}

.button{
    background-color: bisque;
    color: red;
    border-radius: 15px;
}

.button:hover{
    background-color: red;
    color: bisque;
    transition: 0.5s;
}

.card-choice-button{
    background-color: #5B84B1FF;
    color: bisque;
}

.card-choice-button:hover{
    background-color: #5F4B8BFF;
    color: bisque;
    transition: 0.5s;
}

.move-right{
    float: right;
    margin-top: 2px;
    margin-right: 5px;
}

.space-around{
    justify-content: flex-end;
}